<!DOCTYPE html>
<html>
    <head>
        <title>Upload a file</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload a File</legend>
                <input type="file" id="file" name="file"><br>
                <input type="submit">
            </fieldset>
        </form>
</html>